html {
    scroll-behavior: smooth;
  }

  /*  make everything bigger for ultrawide */
  @media (min-width: 2560px) {
    html {
      font-size: 1.5rem;
    }
  }

#Planet_Img {
  width: 75%;
  /* height: 100%; */
}

  html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#Twinkling_Stars {
    position: fixed;
    z-index: -999;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* display: hidden; */
  }


  #Images {
    width: 50%;
    height: 100%;
  }

  #card_title {
    color: aliceblue;
  }

  #Card {
    background-color: none;
  }

  #Card:hover {
    cursor: url('../../image/carbon_rocket_click.png'),auto;
  }

  @media (min-width: 1440px) {
    #Images {
      width: 25%;
      height: 100%;
    }
  }

  #lotti {
    width: 85%;
  }

  /* on ultrawide make it smaller */
  @media (min-width: 2560px) {
    #lotti {
      width: 60%;
      height: 60%;
    }
  }
