html {
    scroll-behavior: smooth;
  }

/* Make everything bigger for different screen sizes */

/* For screens smaller than 1420px */
:root {
  font-size: 1rem;
}

/* For screens larger than or equal to 1420px and smaller than 2560px */
@media (min-width: 1420px) and (max-width: 2559px) {
  :root {
    font-size: 1.2rem;
  }
}

/* For ultrawide screens with a minimum width of 2560px */
@media (min-width: 2560px) {
  :root {
    font-size: 1.5rem;
  }
}

/* For screens larger than or equal to 3072px and smaller than 3840px */
@media (min-width: 3072px) and (max-width: 3839px) {
  :root {
    font-size: 2rem;
  }
}

/* For screens larger than or equal to 3840px */
@media (min-width: 3840px) {
  :root {
    font-size: 2.5rem;
  }
}


#Planet_Img {
  width: 75%;
  /* height: 100%; */
}

  html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#Twinkling_Stars {
    position: fixed;
    z-index: -999;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* display: hidden; */
  }


  #Images {
    width: 50%;
    height: 100%;
  }

  #card_title {
    color: aliceblue;
  }

  #Card {
    background-color: none;
  }

  #Card:hover {
    cursor: url('../../image/carbon_rocket_click.png'),auto;
  }

  @media (min-width: 1440px) {
    #Images {
      width: 25%;
      height: 100%;
    }
  }

  #lotti {
    width: 85%;
  }

  /* on ultrawide make it smaller */
  @media (min-width: 2560px) {
    #lotti {
      width: 60%;
      height: 60%;
    }
  }
